body{
    font-family: 'Montserrat', sans-serif;
}

.bg-header {
    background-color: #fff;
}

.item-list-container {
    text-align: center;
    margin: 40px;
}

.color-icon {
    color: #000;
}

.titulo-card {
    font-size: 13px;
    letter-spacing: 1px;
}

.composition-card, .rights-reserved, .precio-card, .font-carrito {
    font-size: 13px;
}

.border-footer{
    border-top: 1px solid black;
}

.uppercase{
    text-transform: uppercase;
}

.alinear-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.details-contador{
    display: flex;
    border-radius: 0px !important;
    border: 1px solid;
    margin-top: 10px;
}

.detail-carrito{
    border: 1px solid;
    margin-top: 10px;
    text-align: center
}

.cesta{
    border-radius: 0px !important;
    border: 1px solid;
}
.border-cesta{
    border-left: 1px solid;
}
.estilos-continuar{
    background-color: #000;
    height: 88px;
    width: 10%;
}
.estilos-vaciar{
    background-color: #fff;
    height: 88px;
    width: 10%;
}

.margin-padding{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.letter{
    letter-spacing: 1px;
}




/* ************************************************* */
/* Loader */

.loader{
    margin:50px;
    width: 100%;
    height: 100px;
}
.newtons-cradle {
    --uib-size: 50px;
    --uib-speed: 1.2s;
    --uib-color: #474554;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--uib-size);
    height: var(--uib-size);
   }
   
   .newtons-cradle__dot {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    width: 25%;
    transform-origin: center top;
   }
   
   .newtons-cradle__dot::after {
    content: '';
    display: block;
    width: 100%;
    height: 25%;
    border-radius: 50%;
    background-color: var(--uib-color);
   }
   
   .newtons-cradle__dot:first-child {
    animation: swing var(--uib-speed) linear infinite;
   }
   
   .newtons-cradle__dot:last-child {
    animation: swing2 var(--uib-speed) linear infinite;
   }
   
   @keyframes swing {
    0% {
     transform: rotate(0deg);
     animation-timing-function: ease-out;
    }
   
    25% {
     transform: rotate(70deg);
     animation-timing-function: ease-in;
    }
   
    50% {
     transform: rotate(0deg);
     animation-timing-function: linear;
    }
   }
   
   @keyframes swing2 {
    0% {
     transform: rotate(0deg);
     animation-timing-function: linear;
    }
   
    50% {
     transform: rotate(0deg);
     animation-timing-function: ease-out;
    }
   
    75% {
     transform: rotate(-70deg);
     animation-timing-function: ease-in;
    }
   }
   